<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul class="footer-list">
                    <li><a href="#">SNH Sites</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="footer-list">
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Our Policies</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <p>© Lewis Teather 2020/2021</p>
            </div>
        </div>
    </div>
</footer>
