<%- include('partials/header-dashboard') -%>
  
<body>
  <div class="navibar">
    <ul>
        <li class="branding"><a href="/index"><img class="logo" alt="logo" src="../img/logo.png"></a></li>
        <li><a class="nav-link" href="/dashboard"><i class="fas fa-home"></i> DASHBOARD</a></li>
        <li><a class="nav-link" href="/data"><i class="fas fa-chart-bar"></i> ENTER DATA</a></li>
        <li><a class="nav-link" href="/support"><i class="fas fa-question-circle"></i> SUPPORT</a></li>
        <li><a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> LOGOUT</a></li>
    </ul>
  </div>

  <div class="main">
    <h2>Thank You!</h2>
    <p>Your data will now be processed and be live into the system within a few minutes.</p>
    <div class="upload-container">
        <h2>Data Uploaded</h2>
        <p>Thank you for uploading your daily data, we couldn't run the system without your continual inputs!</p>
        <p>Your data is now being processed and will be live within a few minutes.</p>
        <button class="btn btn-success" onclick="window.location.href='dashboard'">Back to Dashboard</button>
    </div>
  </div> 

  <%- include('partials/footer') -%>

  <script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        } 
      });
    }
    </script>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
</body>
</html>
