body {
	padding: 0;
    margin: 0;
	font-family: 'Lato', sans-serif;
    background: #f6f9fc;
    color: #000;
}

hr {
    border-top: 2px solid #1f1f1f;
}

.navibar {
    z-index: 5;
}

.navibar .branding {
    padding: 20px 10px;
    z-index: 5;
}

.navibar .branding .logo {
    width: 75%;
}

.navibar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 250px;
    background-color: #005eb8;
    border-right: 1px solid #337ec6;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.navibar li a {
    display: block;
    color: #FFF;
    padding: 12px 20px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    transition: 0.5s;
}

.navibar li a i {
    position: relative;
    top: -6px;
    float: left;
    color: #000;
    background: #f1f3f5;
    border-radius: 50%;
    padding: 10px;
}

.navibar li a:hover {
    background-color: #d8dde0;
    transition: 0.5s;
}

.main {
    margin-left: 250px;
    padding: 40px 20px;
    text-align: center;
}

input {
  background-color: #fafafa;
  border:0;
  border-radius: 3px;
  box-shadow:0 0 4px rgba(0,0,0,0.3);
  transition: .3s box-shadow;
  padding: 10px;
}

input:hover {
  box-shadow:0 0 4px rgba(0,0,0,0.5);
}

.upload-container {
  background: #DDD;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  width: 50%;
  margin: 40px auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.upload-container h3 {
  padding-top: 10px;
}

.upload-container input {
  width: 250px;
}

.upload-container button {
  margin-top: 20px;
  padding: 10px 25px;
}

.accordion {
    background-color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid;
    border-radius: 5px;
    text-align: left;
    outline: none;
    font-size: 1rem;
    transition: 0.4s;
}
  
.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.support-container {
    width: 65%;
    margin: auto;
}

.stat-container {
    background: #d8dde0;
    color: #000;
    border-radius: 5px;
    padding: 15px;
}

.chart-container {
    width: 50%;
    margin: auto;
    margin-top: 25px;
}

footer {
    background: #d8dde0;
    border-top: 4px solid #005eb8;
    margin-left: 250px;
    padding: 25px 0;
    text-align: center;
  }
  
  .footer-list, .footer-list li a {
    list-style-type: none;
    color: #4c6272;
    font-weight: 500;
    text-decoration: underline;
  }
  
  .footer-list li {
    margin-bottom: 10px;
  }

@media screen and (max-device-width: 1024px) {
    .navibar ul {
        top: 0;
        width: 100%;
        height: auto;
    }
    .main {
        margin: 0;
        margin-top: 300px;
    }
    .upload-container {
        width: 100%;
    }
    .support-container {
        width: 100%;
    }
    .chart-container {
        width: 100%;
    }
    footer {
        margin: 0;
    }
}