@media screen and (max-device-width: 1050px) {
    footer {
        padding: 15px 0;
    }

    .main-container {
        width: 100%;
    }
    
    .navbar li {
        width: 100%;
        background: #005eb8;
    }

    .login-container {
        width: 100%;
    }
}